export(colClasses)
export(g_allrepos)
export(g_auth)
export(g_commit_create)
export(g_commit_get)
export(g_commits)
export(g_create_repo)
export(g_downloads)
export(g_issues)
export(g_repo)
export(g_timeseries)
export(is.issues)
import(ggplot2)
import(ggthemes)
import(httr)
import(lubridate)
import(plyr)
import(reshape2)
S3method(print,issues)
