S3method(summary,comments)
S3method(summary,issues)
export(colClasses)
export(g_allrepos)
export(g_auth)
export(g_code_freq)
export(g_comments)
export(g_comments_create)
export(g_comments_delete)
export(g_comments_edit)
export(g_commit_activity)
export(g_commit_create)
export(g_commit_get)
export(g_commits)
export(g_create_repo)
export(g_downloads)
export(g_gists)
export(g_gists_create)
export(g_issue_repo)
export(g_issues)
export(g_issues_create)
export(g_issues_get)
export(g_repo)
export(g_timeseries)
export(is.comments)
export(is.issues)
export(issue_deets)
export(parse_issue)
export(parse_issue_comments)
import(ggplot2)
import(ggthemes)
import(httr)
import(lubridate)
import(plyr)
import(reshape2)
